.container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 80%;
    /* overflow: hidden; */
  }
  
  .playerContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    border-radius: 1em;
    overflow: hidden;
  }
  
  .videoPlayer {
    border-radius: 1em;
    z-index: -1;
  }
  
  .controlsContainer {
    margin-top: -3.5em;
  }
  
  .controls {
    display: flex;
    z-index: 1;
    color: white;
    width: 200px;
    justify-content: space-between;
  }
  
  .controlButton {
    border: none;
    background: none;
  }
  
  .timeline {
    width: 70%;
  }
  
  .duration {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .controlButton:hover {
    cursor: pointer;
  }